.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 100vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}


.search-container{
  height:20%;
}

.list{
  color: #61dafb;
  background-color: #282c34;
  border-bottom: #61dafb 1px solid;
  min-width: 100%;
}
#show-btn{
  height:5vh;
  margin-bottom: 2%
}

.list:hover {
  border-left: #61dafb 10px solid
}

.center{
  align-content: center
}

.list-btn{
  background-color: #282c34 !important;
  color: #61dafb;
}